#logo{
    width: 2rem;
}

#inicio{
    background-color: black;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

#ini{
    color: white;
}

/************** Barra de busqueda ******************************/

#caja-searchbar{
    width: 58rem;
    border-radius: 20px;
  }

.dropdown-menu{
  width: 58rem;
}

.boton {
  background-color: #b6b6b6;
  width: 105px;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-radius: 20px;
}

.contenedor-botones{
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}
.cards-serchbar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
.para-ti {
    padding: 5px;
    text-align: center;
}
.texto-encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba (0, 0, 0, 0.5);
    z-index: 1;
   
}
.Arte {
    padding-right: 695px;
    padding-bottom: 220px;
}
.Autos {
    padding-right: 230px;
    padding-bottom: 220px;
}
.Plantas {
    padding-left: 200px;
    padding-bottom: 220px;
}
.Artista {
    padding-left: 675px;
    padding-bottom: 220px;
}
.Cartel {
    padding-right: 695px;
    padding-bottom: 50px;
}
.Moderno {
    padding-right: 230px;
    padding-bottom: 50px;
}
.Mascota {
    padding-left: 210px;
    padding-bottom: 50px;
}
.Paisaje {
    padding-left: 675px;
    padding-bottom: 50px;
}

.Lluvia {
    padding-right: 695px;
    padding-top: 275px;
}
.Cielo {
    padding-right: 230px;
    padding-top: 275px;
}
.Montaña {
    padding-left: 200px;
    padding-top: 275px;
}
.Autos2 {
    padding-left: 675px;
    padding-top: 275px;
}
.Atardecer {
    padding-right: 675px;
    padding-top: 450px;
}
.Noche {
    padding-right: 230px;
    padding-top: 450px;
}
.Astros {
    padding-left: 210px;
    padding-top: 450px;
}
.Progra {
    padding-left: 675px;
    padding-top: 450px;
}
.txt {
    padding-left: 25px;
}

/**************************************************************/
#menu2{
    width: 12rem;
    text-align: center;
    align-content: end;
}

#notificaciones,
#mensajes,
#perfil,
#opcionesMenu{
    width: 3rem;
    text-align: center;
    display: block;
    margin: auto;
}

#notificaciones img,
#mensajes img{
    width: 1.75rem;
}

#opcionesMenu img{
    width: 1.25rem;
}

#circulo{
    background-color: rgb(247, 87, 66);
    border-radius: 25px;
    width: 1.75rem;
    height: 1.75rem;
    margin: auto;
}

#per{
    color: white;
    text-align: center;
    padding: 0;
    padding-top: 3px;
}

.dropdown-menu-end {
    width: 300px;
    right: 0;
}

.card-body {
    font-size: 12px;
    text-align: start;
    margin: 0;
    padding: 0;
    
}

.rounded-circle{
    background-color: rgb(247, 87, 66);
    width: 4rem;
    height: 4rem;
    display: block;
    margin: auto;
}

.rounded-circle p{
    font-size: 20px;
}

#opcionesPerfil div{
    text-align: start;
    font-size: 16px;
    font-weight: 600;
}
#opcionesPerfil p{
    text-align: start;
    font-size: 12px;
}
/**************************************************************/